html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  // padding-bottom: 1rem;
  min-height: 100%;
  background: $c-white;
  font-family: $t-roboto, sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
}

ul > li {
    line-height: 35px;
}
ul > li > div {
    height: 35px;
    line-height: 1.2;
}

img {
  align-self: center;
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  line-height: 30px;
}

@media (min-width: 320px) and (max-width: 650px) {
  ul {
    column-count: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1;
  }
}
