body {
  margin: 0;
  font-family: $t-roboto;
}

ul {
  padding-left: 0;
  list-style: none;
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
}

ul > li {
    line-height: 35px;
}
ul > li > div {
    height: 35px;
    line-height: 1.2;
}

img {
  align-self: center;
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  line-height: 25px;
}
