$m-gutter: 1rem;

$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #ccc;

$navbar-default-brand-color: #fff;

$navbar-default-bg: rgba(#043175,.87);

$footer-default-bg: rgba(#043175,.87);

$panel-default-text: #fff;
$panel-default-border: rgba(#043175,.87);
$panel-default-heading-bg: rgba(#043175,.87);

// @import "ember-bootstrap/bootstrap";

$c-grey: #9f9f9f;
$c-black: #000;

@import 'reset';
@import "home";
@import 'contact';
@import 'companies';

@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Unica+One');

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
}

.section {
  padding: $m-gutter;
}

.container {
  max-width: 90rem;
}

.negative-margin {
  margin: 0 -1rem;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.btn {
  border: 0;
  background: none;

  &:hover {
    background: none;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: $m-gutter;
  width: 90%;
  font-family: 'Unica One', sans-serif;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  &__logo {
    // margin: $m-gutter;
    margin-left: 0rem;
    // width: auto;
  }

  &__links {
    display: flex;
  }
}

.nav-link {
  margin: $m-gutter;
  font-size: 18px;
  color: $c-grey;
  text-transform: uppercase;
  font-size: 23px;

  &:hover {
    color: $c-black;
    transition: 0.5s;
  }
}

.content {
  flex: 1;
}

.footer {
  color: #fff;
  background: $footer-default-bg;
  bottom: 0;
}
