.logo-width {
  width: 30rem;
  padding: $m-gutter;
  background-color: #fff;
}

.witt-background {
  background: #38290A;
}

.lowercase {
  font-family: 'Fanwood Text', serif;
  font-size: 18.5px;
}
