.company {
  border-radius: 1rem;
  margin-top: 2rem;

  &__header {
    background: rgba($c-grey, 0.3);
    margin: 0;

    &_text {
      margin: 0;
    }
  }

  &__image {
    width: 15rem;
    padding: $m-gutter * 2;
  }
}
