.company {
  margin-top: 2rem;

  &__header {
    background: rgba($c-grey, 0.2);
    border-radius: 0.5rem;
    margin: 0;

    &_text {
      margin: 0;
    }
  }

  &__image {
    width: 15rem;
    padding: $m-gutter * 2;
  }
}
