.custom-banner {
  width: 100%;
  height: 40rem;
  background: url('../img/code-bg-alt.jpg') no-repeat fixed;
  background-size: cover;
  margin: 0;
}

.company {
  display: flex;
  align-items: center;
  text-align: center;

  &-overview {
    font-size: 18.5px;
  }
}
