.banner {
  width: 100%;
  height: 40rem;
  background: url('../img/code-bg-alt.jpg') no-repeat fixed;
  background-size: cover;
  margin: -5rem 0 0 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &__content {
    padding: 1rem;
    width: 70%;
  }

  &__text {
    font-size: 65px;
    color: $c-white;
    margin: 0;
    font-family: $t-raj;
  }
}

.company {
  font-family: $t-raj;
  text-align: center;
  padding: 1rem;

  &-overview {
    max-width: 65rem;
    margin: 0 auto;
    font-family: $t-roboto;
    font-size: 18.5px;
  }
}

.title {
  margin: 0;
  border-bottom: $s-border;

  &-text {
    text-align: center;
    font-family: $t-raj;
    font-size: 40px;
  }
}

.subtitle {
  font-family: $t-roboto;
  font-size: 20px;
  margin-bottom: 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__item {
  }
}

.half-width {
  width: calc(100% / 2 - 2rem);
}
