.banner {
  width: 100%;
  height: 40rem;
  background: url('../img/code-bg-alt.jpg') no-repeat fixed;
  background-size: cover;
  margin: -5rem 0 0 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &__content {
    padding: 1rem;
    width: 70%;
  }

  &__text {
    font-size: 65px;
    color: $c-white;
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
  }
}

.company {
  display: flex;
  align-items: center;
  text-align: center;

  &-overview {
    font-size: 18.5px;
  }
}
