.banner {
  width: 100%;
  height: 38rem;
  background: url('../img/code-bg-alt.jpg') no-repeat fixed;
  background-size: cover;
  margin: -5rem 0 0 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &__content {
    padding: 2rem;
    width: 70%;
  }

  &__text {
    font-size: 4.3rem;
    color: $c-white;
    margin: 0;
    font-family: $t-raj;
  }
}

.about {
  text-align: center;
  padding: 1rem;

  &__text {
    max-width: 65rem;
    margin: 0 auto;
  }
}

.title {
  margin: 0;
  border-bottom: $s-border;

  &-text {
    text-align: center;
    font-size: 40px;
    margin: 0;
  }
}

.subtitle {
  font-family: $t-roboto;
  font-size: 20px;
  margin-bottom: 0;
}

.body-text {
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;


  &__item {
    margin: 1rem;
  }
}

@media (min-width: 320px) and (max-width: 650px) {
  .banner {
    height: 30rem;

    &__content {
      padding: 1rem;
    }

    &__text {
      font-size: 3rem;
    }
  }
}
