.no-margin {
  margin: 0;
}

.flex {
  display: flex;
}

.info {
  width: calc(60% - 2rem);
  padding: 1rem;
}

.image {
  width: calc(40% - 2rem);
  height: 100%;
  padding: 1rem;
}

@media (min-width: 320px) and (max-width: 700px) {
  .image {
    width: 100%;
  }

  .info {
    width: 100%;
    text-align: center;
  }
}
