<div class="content">
  <div class="banner">
    <div class="section">
      <div class="container">
        <div class="banner__content">
          <h1 class="banner__text">On time.</h1>
          <h1 class="banner__text">On budget.</h1>
          <h1 class="banner__text">Consistent Outcomes.</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="about">
        <div class="title">
          <h1 class="title-text">About Us</h1>
        </div>
        <div class="about__text">
          <p>Tennessee Network Technologies Inc. is a network
            infrastructure and special equipment installation company.
            Tennessee Network Technologies has technicians in every
            State of the Union and is the exclusive installer of Nanovo Solutions’
            equipment. Certified technicians are able to install and
            maintain air and surface purification equipment, voice,
            data, audio, and video networks for commercial, industrial,
            retail and military business on a local and national basis.
            Tennessee Network Technologies has built lasting relationships
            providing excellent services in both break/fix and rollout
            deployments in the Commercial / Retail arena.</p>
            <h3 class="subtitle">Tennessee Network Technologies Offers:</h3>

            <ul>
              <li>• Web-based reporting</li>
              <li>• Complete store installations</li>
              <li>• Break/Fix services</li>
              <li>• Competitive pricing</li>
              <li>• Proven capability to handle unique projects</li>
              <li>• Great client relationships</li>
              <li>• Pride in having lifelong clients</li>
              <li>• Scalable and flexible deployments</li>
            </ul>
            <p>
              We adapt to any working environment from new store
              construction, site remodels, and service work, we are
              capable of doing it all. Tennessee Network Technologies
              will go out of it's way to provide the solutions needed
              for success.
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
