<div class="section">
  <div class="container">
    <div class="title">
      <h1 class="title-text">Services</h1>
    </div>
    <p class="body-text">Tennessee Network Technologies has the solutions
      to solve your needs from single-point installation
      assistance to management of multi-site rollouts.
      We are committed to delivering your projects on time
      and on budget. Tennessee Network Technologies works
      with the customer to provide exceptional services with
      our web based reporting. From infrastructure remodeling
      to new store construction, Tennessee Network Technologies
      can cover every low voltage aspect that you need.</p>
    <div class="grid">
      <div class="grid__item one-half-width">
        <div class="card grid__image">
          <img src="/img/web-based.jpg" alt="" class="">
        </div>
      </div>
      <div class="grid__item one-half-width">
        <div class="card">
          <hi class="title-text">Web-based Services</hi>
          <p>
            Web-Based Services are at the core of what Tennessee Network Technologies provides.
            At the center of this is a combination of Customer Service and real time reporting.
            Our Report Management Program consist of a PR (Project Representative) assigned to
            your project, and a web based Client/Tech program for instant status and deliverables.
            This allows us to focus on properly managing each project, ensuring satisfaction each time.
          </p>
        </div>
      </div>

      <div class="grid__item one-half-width">
        <div class="card">
          <hi class="title-text">On-site Services</hi>
          <div class="grid">
            <div class="grid__item one-half-width">
              <ul>
                <li>• Site Surveys</li>
                <li>• Infrastructure Cabling</li>
                <li>• Setup, Activation, and Testing</li>
              </ul>
            </div>
            <div class="grid__item one-half-width">
              <ul>
                <li>• Asset Tagging</li>
                {{!-- <li>Break/Fix</li> --}}
                <li>• Software Installation</li>
                <li>• De-Installations</li>
              </ul>
            </div>
            <p class="no-margin">
              Our services are not limited to the above list. We can provide cabling
              and support for, data, voice, CCTV, and wireless; complete installation
              and setup to install specification.
            </p>
          </div>
        </div>
      </div>

      <div class="grid__item one-half-width">
        <div class="card grid__image">
          <img src="/img/on-site.png" alt="" class="">
        </div>
      </div>
    </div>
  </div>
</div>
